body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    /* vertical-align: middle; */
    display: block;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.wrap {
    background-image: url(../images/PC/bg_PC.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /* overflow: hidden; */

}

.left-content {
    position: fixed;
    width: 30%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.PC-cta {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.right-content {
    margin: 0 5% 0 auto;
    width: 60%;
    /* overflow: hidden; */
}

.hidden {
    overflow: hidden;
}


@media (max-width:768px) {
    .left-content {
        display: none;
    }

    .right-content {
        width: 100%;
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.op-0 {
    opacity: 0;
}

/* 定位 */
.thing01-0{
    width: 100%;
    left: 0%;
    top: 0%;
}
.thing01-1 {
    width: 31.1%;
    right: -2%;
    top: 30.1%;
    -webkit-mask: url("../images/lightArea/LP_1_L92.png") no-repeat center center;
    mask: url("../images/lightArea/LP_1_L92.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing01-2 {
    width: 52.2%;
    left: 3.5%;
    top: 49.7%;
    -webkit-mask: url("../images/lightArea/LP_1_pd.png") no-repeat center center;
    mask: url("../images/lightArea/LP_1_pd.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing01-3 {
    width: 91.4%;
    left: 3.5%;
    top: 74.7%;
    -webkit-mask: url("../images/LP_1_award.png") no-repeat center center;
    mask: url("../images/LP_1_award.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing01-4 {
    width: 19%;
    left: 39%;
    bottom: 3%;
    animation: moveDown 2s infinite ease-in-out;
}

.thing02-1 {
    width: 100%;
    left: 0%;
    top: 55%;
}

.thing03-1 {
    width: 62.2%;
    left: -0.6%;
    top: 24%;
    -webkit-mask: url("../images/lightArea/LP_3_pd.png") no-repeat center center;
    mask: url("../images/lightArea/LP_3_pd.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing03-2 {
    width: 100%;
    left: -4%;
    top: 2.5%;
    scale: 1.011;
    -webkit-mask: url("../images/LP_3_new.png") no-repeat center center;
    mask: url("../images/LP_3_new.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing03-3 {
    width: 87.3%;
    left: 5%;
    bottom: 2%;
    z-index: 1;
}

.thing04-1 {
    width: 71.7%;
    left: 15.5%;
    top: 27.4%;
}

.thing04-2 {
    width: 100%;
    left: 9%;
    top: -6%;
    scale: 1.044;
}

.thing04-3 {
    width: 100%;
    left: 2%;
    bottom: 30.2%;
    scale: 1.091;
}

.thing04-4 {
    width: 100%;
    left: 35.8%;
    bottom: 8.5%;
    scale: 1.174;
}

.thing06-1 {
    width: 79.2%;
    left: 15.8%;
    top: 2.1%;
}

.thing06-2 {
    width: 92.8%;
    left: 2.5%;
    top: 12%;
}

.thing06-3 {
    width: 92.7%;
    left: 2.5%;
    top: 33.5%;
}

.thing07-1 {
    width: 3.2%;
    left: 50%;
    top: 13%;
    animation: moveDown 2s infinite ease-in-out;
}

.thing07-2 {
    width: 100%;
    left: 0%;
    top: 30%;
}

.thing09-1 {
    width: 85.2%;
    left: 6.5%;
    top: 21.5%;
}

.thing09-2 {
    width: 91.2%;
    left: 0.5%;
    top: 51%;
}

.thing09-3 {
    width: 91.2%;
    left: 6.8%;
    bottom: 6.8%;
}

.thing10-1 {
    width: 28.5%;
    left: 4.5%;
    bottom: 12.5%;
}

.thing10-2 {
    width: 30%;
    left: 33.5%;
    bottom: 12.5%;
}

.thing10-3 {
    width: 27.9%;
    right: 5%;
    bottom: 12.5%;
}

.thing10-4 {
    width: 72%;
    left: 3%;
    top: 5%;
    z-index: 1;
}

.thing10-5 {
    width: 100%;
    left: -0.5%;
    top: 17.5%;
    scale: 1.037;
}

.thing11-0 {
    position: relative;
    z-index: 1;
}

.thing11-1 {
    width: 24.2%;
    left: 4.5%;
    bottom: 6.9%;
    z-index: 1;
}

.thing11-2 {
    width: 29%;
    left: 35.5%;
    bottom: 4.6%;
    z-index: 1;
}

.thing11-3 {
    width: 24.2%;
    right: 6%;
    bottom: 3.4%;
    z-index: 1;
}

.thing11-4 {
    width: 51.7%;
    left: 23.2%;
    top: 2.5%;
    z-index: 2;
}

.thing11-5 {
    width: 100%;
    height: 30%;
    left: 0;
    bottom: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-image: url(../images/LP_11/bg.png);
}

.thing11-6 {
    width: 100%;
    left: -0.5%;
    top: 12.2%;
    scale: 1.037;
    z-index: 1;
}

.thing12-1 {
    width: 36.6%;
    left: 16.5%;
    bottom: 37.5%;
}

.thing12-2 {
    width: 32%;
    left: 57%;
    bottom: 36.2%;
}

.thing12-3 {
    width: 38.3%;
    right: 24%;
    top: 1%;
    z-index: 1;
}

.thing12-4 {
    width: 100%;
    left: -0.3%;
    top: 11.9%;
    scale: 1.037;
}

.thing13-1 {
    width: 37.2%;
    right: 10.5%;
    top: 16%;
}

.thing13-2 {
    width: 53.5%;
    left: 7.5%;
    bottom: 40.8%;
    -webkit-mask: url("../images/lightArea/LP_13_text.png") no-repeat center center;
    mask: url("../images/lightArea/LP_13_text.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing14-1 {
    width: 100%;
    right: 0%;
    bottom: 3%;
    scale: 1.920;
}

.thing14-2 {
    width: 13%;
    right: 3.5%;
    top: 59.2%;
    z-index: 2;
}

.thing14-3 {
    width: 13%;
    right: 13.8%;
    top: 61.6%;
    z-index: 1;
}

.thing14-4 {
    width: 22.2%;
    right: 17.5%;
    top: 36%;
}

.thing14-5 {
    width: 22.2%;
    left: 3.5%;
    top: 41.5%;
}

.thing14-6 {
    width: 39.3%;
    left: -1.5%;
    top: 53%;
}

.thing14-7 {
    width: 28.6%;
    right: -1.5%;
    top: 42.5%;
}

.thing14-8 {
    width: 13%;
    right: 7%;
    top: 52.4%;
    z-index: 1;
}

.thing14-9 {
    width: 50.7%;
    left: 4.5%;
    top: 32%;
}

.thing14-10 {
    width: 32.5%;
    right: 9.5%;
    top: 57%;
}

.thing14-11 {
    width: 100%;
    left: 9%;
    top: 39%;
    scale: 1.024;
}

.thing15-1 {
    width: 84.8%;
    right: 7%;
    top: 10.5%;
}

.thing15-2 {
    width: 64%;
    right: -4.5%;
    top: 25.8%;
    z-index: 2;
    -webkit-mask: url("../images/lightArea/LP_15_B1.png") no-repeat center center;
    mask: url("../images/lightArea/LP_15_B1.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing15-3 {
    width: 55%;
    right: 5%;
    top: 47.2%;
    z-index: 1;
    -webkit-mask: url("../images/lightArea/LP_15_B2.png") no-repeat center center;
    mask: url("../images/lightArea/LP_15_B2.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing15-4 {
    width: 50%;
    right: -3.5%;
    top: 65%;
    -webkit-mask: url("../images/lightArea/LP_15_B3.png") no-repeat center center;
    mask: url("../images/lightArea/LP_15_B3.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing16-1 {
    width: 100%;
    right: 4.2%;
    top: 1%;
    scale: 1.011;
    -webkit-mask: url("../images/LP_16_new.png") no-repeat center center;
    mask: url("../images/LP_16_new.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing16-2 {
    width: 59.9%;
    left: -0.8%;
    top: 21.8%;
    scale: 1.011;
    -webkit-mask: url("../images/lightArea/LP_16_pd.png") no-repeat center center;
    mask: url("../images/lightArea/LP_16_pd.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing16-3 {
    width: 92.2%;
    left: 4%;
    bottom: 28.5%;
}

.thing16-4 {
    width: 54.5%;
    right: 4%;
    bottom: 14.5%;
}

.thing17-1 {
    width: 77.3%;
    left: 12%;
    top: 25%;
    z-index: 2;
}

.thing17-2 {
    width: 100%;
    left: 0%;
    top: 23%;
}

.thing18-1 {
    width: 100%;
    left: 0%;
    top: 38.3%;
    scale: 1.920;
}

.thing19-1 {
    width: 100%;
    height: 30%;
    left: 0;
    top: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -225% top;
    background-attachment: fixed;
    background-image: url(../images/LP_19_bg.png);
}
@media (max-width:768px) {
    .thing19-1{
        background-position: 56% bottom;
        background-attachment: unset;
    }
}
.thing20-1 {
    width: 135%;
    height: 88%;
    left: -9%;
    top: 12%;
}

.thing20-2 {
    width: 100%;
    left: 0%;
    top: 0%;
}

.thing20-3 {
    width: 79.1%;
    left: 20%;
    top: 55%;
}

.thing21-1 {
    width: 100%;
    left: 0%;
    top: 58%;
}

/* QA */
.QA1-open {
    width: 6.5%;
    right: 3%;
    top: 30%;
}

.QA1-close {
    width: 6.5%;
    right: 3%;
    top: 30%;
}

.QA2-open {
    width: 6.5%;
    right: 3%;
    top: 51%;
}

.QA2-close {
    width: 6.5%;
    right: 3%;
    top: 51%;
}

.QA3-open {
    width: 6.5%;
    right: 3%;
    top: 53%;
}

.QA3-close {
    width: 6.5%;
    right: 3%;
    top: 53%;
}

.QA4-open {
    width: 6.5%;
    right: 3%;
    top: 53%;
}

.QA4-close {
    width: 6.5%;
    right: 3%;
    top: 53%;
}

.QA5-open {
    width: 6.5%;
    right: 3%;
    top: 54%;
}

.QA5-close {
    width: 6.5%;
    right: 3%;
    top: 54%;
}

/* QA E */
.thing22-1 {
    width: 100%;
    right: 4.2%;
    top: 6.6%;
    scale: 1.011;
    -webkit-mask: url("../images/LP_22_new.png") no-repeat center center;
    mask: url("../images/LP_22_new.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing22-2 {
    width: 56.7%;
    left: -0.6%;
    top: 48.4%;
    scale: 1.011;
    -webkit-mask: url("../images/lightArea/LP_22_pd.png") no-repeat center center;
    mask: url("../images/lightArea/LP_22_pd.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing22-3 {
    width: 92.2%;
    right: 4.2%;
    bottom: 1.25%;
}

.thing23-1 {
    width: 6.3%;
    left: 48%;
    bottom: 9%;
    animation: moveDown 2s infinite ease-in-out;
}

.thing26-1 {
    width: 100%;
    right: 0%;
    top: 25%;
    scale: 1.950;
    pointer-events: none;
}

.thing26-2 {
    width: 92.6%;
    right: 3%;
    top: 7%;
    -webkit-mask: url("../images/LP_26_title.png") no-repeat center center;
    mask: url("../images/LP_26_title.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
    z-index: 1;
}

.thing26-3 {
    width: 41.6%;
    right: -6%;
    top: 11.5%;
    z-index: 1;
}

.tel {
    width: 90.6%;
    right: 6%;
    top: 43%;
}

.thing29-1 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0.25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-image: url(../images/LP_29_bg.png);
}