.offerBtn {
    transition: all .3s;
}

.offerBtn:hover {
    opacity: 0.8;
}

.offerMiddle {
    width: 86%;
    left: 7%;
    bottom: 21%;
}

.offer01 {
    width: 92.2%;
    left: 4%;
    top: 36%;
    z-index: 1;
}

.offer02 {
    width: 92.2%;
    left: 5%;
    top: 61.25%;
    z-index: 1;
}

.offer03 {
    width: 65.7%;
    left: 16%;
    top: 87.5%;
    z-index: 1;
}